  <div class="all-around">
    <div class="gameScreen">
      <div class="screenFlash"></div>
      <svg id="svgWrap" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 643 1050">
        <g transform="translate(-375.71424,78.801711)">
          <g id="floatGroup">
            <path id="iceberg" fill="#dcd6fc" d="m376 196 643 0-0.0002 71.4-59.4 34.3 0 60-57.8 33.4 0 41.6-58.7 33.9 0.0003 47.5-291 0 0-47.5-58.7-33.9 0-41.6-57.8-33.4 0-60-59.4-34.3zM657 141l-0.00025 11.9 10.2 0 9.9-9.9-4.88-8.45M657 141l-0.00025 11.9 10.2 0 9.9-9.9-4.88-8.45M657 141l-0.00025 11.9 10.2 0 9.9-9.9-4.88-8.45M657 141l-0.00025 11.9 10.2 0 9.9-9.9-4.88-8.45M657 141l-0.00025 11.9 10.2 0 9.9-9.9-4.88-8.45" />
            <circle cx="420" cy="175" r="25" stroke="white" stroke-width="3" fill="white" />
            <circle cx="534" cy="175" r="20" stroke="white" stroke-width="3" fill="white" />
            <g id="penguinA"[style.display]="mistakesRemining <=3 ? 'none' : 'block'" >
              <path fill="#000" d="m580 121-0.00031 15.4 13.1 0 12.8-12.8-6.29-10.9z" />
              <path fill="#000" d="m578 124-24.3 6.51 24.3 0z" />
              <path fill="#fb8b00" d="m578 135-24.3-3.34 24.3 0z" />
              <path fill="#FF0" d="m595 137 11-10.8 0 10.8z" />
              <path fill="#333" d="m593 138 12.3 0 9.8 17 0 50.1-22.1-24.9z" />
              <path fill="#EEE" d="m591 138 0 42 12.9 14.9-19.1 0-12-23.4 6.49-33.6z" />
              <path fill="#000" d="m594 196 7.67 0 0 13.3-21.1 0 13.5-7.51z" />
              <path fill="#000" d="m627 195-10.8-10.8 0 10.8z" />
            </g>
            <g id="penguinB" [style.display]="mistakesRemining <= 2 ? 'none' : 'block'">
              <path fill="#000" d="m657 141-0.00025 11.9 10.2 0 9.9-9.9-4.88-8.45z" />
              <path fill="#000" d="m656 143-18.8 5.05 18.8 0z" />
              <path fill="#fb8b00" d="m656 152-18.8-2.59 18.8 0z" />
              <path fill="#FF0" d="m669 153 8.5-8.39 0 8.39z" />
              <path fill="#333" d="m667 154 9.51 0 7.6 13.2 0 38.8-17.1-19.3z" />
              <path fill="#EEE" d="m666 154 0 32.6 10 11.6-14.8 0-9.33-18.1 5.03-26.1z" />
              <path fill="#000" d="m668 199 5.94 0 0 10.3-16.4 0 10.4-5.82z" />
              <path fill="#000" d="m694 198-8.39-8.39 0 8.39z" />
            </g>
            <g id="penguinC" [style.display]="mistakesRemining <= 1 ? 'none' : 'block'">
              <path fill="#000" d="m730 121-0.00031 15.4 13.1 0 12.8-12.8-6.29-10.9z" />
              <path fill="#000" d="m728 124-24.3 6.51 24.3 0z" />
              <path fill="#fb8b00" d="m728 135-24.3-3.34 24.3 0z" />
              <path fill="#FF0" d="m745 137 11-10.8 0 10.8z" />
              <path fill="#333" d="m743 138 12.3 0 9.8 17 0 50.1-22.1-24.9z" />
              <path fill="#EEE" d="m741 138 0 42 12.9 14.9-19.1 0-12-23.4 6.49-33.6z" />
              <path fill="#000" d="m744 196 7.67 0 0 13.3-21.1 0 13.5-7.51z" />
              <path fill="#000" d="m777 195-10.8-10.8 0 10.8z" />
            </g>
            <g id="penguinD" [style.display]="mistakesRemining <= 0 ? 'none' : 'block'">
              <path fill="#000" d="m807 141-0.00025 11.9 10.2 0 9.9-9.9-4.88-8.45z" />
              <path fill="#000" d="m806 143-18.8 5.05 18.8 0z" />
              <path fill="#fb8b00" d="m806 152-18.8-2.59 18.8 0z" />
              <path fill="#FF0" d="m819 153 8.5-8.39 0 8.39z" />
              <path fill="#333" d="m818 154 9.51 0 7.6 13.2 0 38.8-17.1-19.3z" />
              <path fill="#EEE" d="m816 154 0 32.6 10 11.6-14.8 0-9.33-18.1 5.03-26.1z" />
              <path fill="#000" d="m818 199 5.94 0 0 10.3-16.4 0 10.4-5.82z" />
              <path fill="#000" d="m844 198-8.39-8.39 0 8.39z" />
            </g>
            <circle cx="911" cy="184" r="13" stroke="white" stroke-width="3" fill="white" />
            <circle cx="940" cy="184" r="13" stroke="white" stroke-width="3" fill="white" />
            <circle cx="926" cy="158" r="13" stroke="white" stroke-width="3" fill="white" />
          </g>
        </g>
      </svg>
      <div class="water">
        <!-- <svg viewBox="0 140 800 70">
          <defs>
               <pattern id="Wave"
                      x="0" y="0" width="100" height="100"
                      patternUnits="userSpaceOnUse" >
                     <path d="M0 25 0 6C20 9 38 11 55 7 72 4 87 4 100 6l0 19z" id="path4" fill="#3973ac"/>
               </pattern>
            </defs>
           <rect width="100%" y="0" height="100%" fill="url(#Wave)" />
         </svg> -->
         <div class="mistakes-count">
          <h2>Mistakes Remaining : {{mistakesRemining}}</h2>
        </div>
         
         
      </div>
      <div class="water1" *ngIf="mistakesRemining <= 4">
        <div class="mistakes-count">
          <h2>Mistakes Remaining : {{mistakesRemining}}</h2>
        </div>
      </div>
      <div class="water2"  *ngIf="mistakesRemining <= 3">
        <div class="mistakes-count">
          <h2>Mistakes Remaining : {{mistakesRemining}}</h2>
        </div>
      </div>
      <div class="water3"  *ngIf="mistakesRemining <= 2">
        <div class="mistakes-count">
          <h2>Mistakes Remaining : {{mistakesRemining}}</h2>
        </div>
      </div>
      <div class="water4"  *ngIf="mistakesRemining <= 1">
        <div class="mistakes-count">
          <h2>Mistakes Remaining : {{mistakesRemining}}</h2>
        </div>
      </div>
      <!-- <div class="water5"  *ngIf="mistakesRemining <= 2">
        <div class="mistakes-count">
          <h2>Mistakes Remaining : {{mistakesRemining}}</h2>
        </div>
      </div>
      <div class="water6" *ngIf="mistakesRemining <= 1">
        <div class="mistakes-count">
          <h2>Mistakes Remaining : {{mistakesRemining}}</h2>
        </div>
      </div> -->
    </div>
  
    <div class="category">
      Category: <button class="cat-btn">{{category | uppercase}}</button>
    </div>
    <div class="won" *ngIf="success">
      <h2 style="color:green; text-align: center;">You Won!</h2>
      <p style="text-align: center;">The word was {{question | uppercase}}</p>
    </div>
    <div class="lose"*ngIf="mistakesRemining===0">
      <h2 style="color:red; text-align: center;">GAME OVER</h2>
      <h2 style="color:red; text-align: center;">You Lose!</h2>
      <p style="text-align: center;">The word was {{question | uppercase}}</p>
  </div>
  </div>
